body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.header {
    /* background-color: lightgrey; */
    background-image: url("attemptedPhoto.png");
    background-size: 100% auto;
    background-position-y: center;
    /* background-size: contain; */
    background-repeat: no-repeat;

}

.aboutMe{
    background-color: rgb(38, 38, 38);
    color: #F2EFD4;
    /* padding-top: 5em; */
    padding-bottom: 5em;
    padding-left: 9em;
}

.projects > p {
    color: #F2EFD4;
}

.project-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-color: #59BFB5;
    
}
.project-item > h3{
    font-weight: 500;
    position: absolute;
    z-index: 1;
    padding-left: 1em;
}

.project-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
    transition: transform 400ms ease-out;
    z-index: -1;
}
.project-image:hover {
    /* makes the curser turn into a pointer...self explanitory */
    cursor: pointer; 
    
    /* shrink background on hover */
    transform: scale(.90);
    /* opacity: 1.5; */
    
    color: #59BFB5;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: #59BFB5;
}

.contactMe {
    color: #F2EFD4;
    padding-left: 9em;
}

/* --------------------------------------------------------------------------- */

.galleryA {
    background-color: rgb(38, 38, 38);
}

.galleryATop {
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
    transition: transform 400ms ease-out;
    z-index: -1;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    padding: 1em;
	

}

.gallery-item > h3 {
    position: absolute;
    z-index: 1;
}

.gallery-item > p {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
}




/* unvisited link */
a:link {
    color: #F2EFD4;
  }
  
  /* visited link */
 a:visited {
    color:#F2EFD4
  }
  
  /* mouse over link */
  a:hover {
    color: #59BFB5;
  }
  
  /* selected link */
  /* a:active {
    color: #F2EFD4;
  } */


  /* ------------------------------------------------------------- */
  